<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="{{ url_for('cadastro') }}" method="POST">
        Qual seu nome?
        <input type="text" name="nome">
        <br>
        Qual sua senha?
        <input type="text" name="senha">
        <br>
        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <hr>
    <br>
    <form action="{{ url_for('login') }}" method="POST">
        Qual seu nome?
        <input type="text" name="nome">
        <br>
        Qual sua senha?
        <input type="text" name="senha">
        <br>
        <button type="submit">Logar</button>
    </form>
    <br>
    {% for user in users %}
    ID: {{ user.id }}, Nome: {{ user.nome }}, Senha: {{ user.senha }}
    <hr>
    {% endfor %}
</body>
</html>