<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
</head>
<nav style="display: inline;">
    <a href="/">Usuário</a>
    <a href="/receitas">Receitas</a>
    <a href="/ingredientes">Ingredientes</a>
</nav>
<body>
    <h1>Receitas</h1>
    <form action="{{ url_for('gerarReceita') }}" method="POST">
        <div class="campo">
            <label for="categoria">Categoria:</label>
            <select id="categoria" name="categoria">
                <option value="qualquer">Qualquer</option>
                <option value="carne">Carnes</option>
                <option value="massa">Massas</option>
                <option value="sopa/creme">Sopas e Cremes</option>
                <option value="salada">Saladas</option>
                <option value="legume/vegetal">Legumes e Vegetais</option>
                <option value="salgado">Salgado</option>
                <option value="doce">Doce</option>
                <option value="sobremesa">Sobremesas</option>
                <option value="bebida">Bebidas</option>
                <option value="outro">Outro</option>
            </select>
            <input type="text" id="categoriaOutro" name="categoriaOutro" placeholder="Adicione outra categoria(opcional)">
        </div>
        <div class="campo">
            <label for="dificuldade">Nível de Dificuldade:</label>
            <div class="radio-buttons">
                <input type="radio" id="facil" name="dificuldade" value="facil">
                <label for="facil">Fácil</label>
                <input type="radio" id="medio" name="dificuldade" value="medio" checked>
                <label for="medio">Médio</label>
                <input type="radio" id="dificil" name="dificuldade" value="dificil">
                <label for="dificil">Difícil</label>
            </div>
        </div>
        <div class="campo">
            <label for="restricoes">Restrições Alimentares:</label>
            <input type="text" id="restricoes" name="restricoes" placeholder="Opcional">
        </div>
        <div class="campo">
            <label for="observacoes">Observações:</label>
            <input type="text" id="observacoes" name="observacoes" placeholder="Opcional">
        </div>
        <button type="submit">Gerar Receita</button>
    </form>
    <br>
    <hr>
    <br>
    {% if res %}
        {{ res | safe }}
        <br>
        <form action="{{ url_for('salvarReceita') }}" method="POST">
            <input type="text" name="res" id="res" value="{{ res | safe }}" style="display: none;">
            <button type="submit">Salvar</button>
        </form>
    {% endif %}
</body>
</html>